@use '@angular/material' as mat;
@use '../../base/colors';

:root {
  @include mat.button-overrides(
    (
      // filled buttons
      filled-container-shape: 2px,
      filled-container-color: colors.$accent,
      filled-label-text-color: --mat-sys-on-surface,
      // text buttons
      text-container-shape: 2px
    )
  );
}
