@use '@angular/material' as mat;
@use '../../base/colors';

:root {
  @include mat.button-overrides(
    (
      // filled buttons
      filled-container-shape: 2px,
      filled-container-color: colors.$accent,
      filled-label-text-color: --mat-sys-on-surface,
      // text buttons
      text-container-shape: 2px
    )
  );
}

:root {
  // icon buttons
  @include mat.icon-button-overrides(
    (
      icon-color: rgba(144, 146, 157, 0.9),
      disabled-icon-color: rgba(144, 146, 157, 0.5),
    )
  );
}

.hazard {
  @include mat.button-overrides(
    (
      text-label-text-color: red,
      text-disabled-label-text-color: rgba(255, 0, 0, 0.4),
    )
  );
}
