@use 'functions' as *;
@use '@angular/material' as mat;

.customer-filter {
  display: flex;
  flex-direction: column;
  gap: to-rem(32);
  padding: to-rem(20);

  .filter-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: to-rem(24);

    .header-text {
      h1 {
        font-size: to-rem(16);
      }

      p {
        margin: 0;
        color: var(--mat-sys-on-surface-variant);
      }
    }

    .header-actions {
      display: flex;
      gap: to-rem(12);
    }
  }

  .add-step {
    align-self: flex-start;
    display: inline-flex;
    align-items: center;
    gap: to-rem(8);
  }
}

.steps {
  padding: to-rem(20);
  @include mat.card-overrides(
    (
      outlined-container-color: white,
      outlined-outline-color: #efeef3,
    )
  );

  .footer {
    text-align: center;
  }
}
