<mat-card class="customer-filter" appearance="outlined">
  <div class="filter-header">
    <div class="header-text">
      <h1>CUSTOMER FILTER</h1>
    </div>
    <div class="header-actions">
      <button mat-button class="hazard" (click)="discardFilters()" [disabled]="!canDiscard()">
        Discard filters
      </button>
    </div>
  </div>

  @if (!loading() && !loadingError()) {
    <mat-card class="steps" appearance="outlined">
      <div class="content">
        @if (steps(); as stepList) {
          @for (step of stepList; track trackStep($index, step); let index = $index) {
            <app-filter-step
              [step]="step"
              [stepIndex]="index"
              [events]="events()"
              [isOnlyStep]="stepList.length === 1"
              (eventSelect)="onEventSelect($event)"
              (addAttribute)="addAttribute($event)"
              (attributePropertyChange)="onAttributePropertyChange($event)"
              (attributeOperatorChange)="onAttributeOperatorChange($event)"
              (attributeValueChange)="onAttributeValueChange($event)"
              (removeAttribute)="removeAttribute($event)"
              (duplicate)="duplicateStep($event)"
              (remove)="removeStep($event)"
            ></app-filter-step>
          }
        }
      </div>

      <div class="footer">
        <button matButton class="add-step" (click)="addStep()">
          <mat-icon>add</mat-icon>
          ADD FUNNEL STEP
        </button>
      </div>
    </mat-card>

    <div>
      <button matButton="filled" (click)="applyFilters()">Apply filters</button>
    </div>
  }
  @if (loading()) {
    <div class="common-loading-block">
      <mat-spinner [diameter]="40" class="spinner"></mat-spinner>
      <p>Loading events</p>
    </div>
  }
  @if (loadingError()) {
    <div>
      <p class="common-error-text">Failed to load events.</p>
      <button matButton="outlined" (click)="fetchEvents()">Retry</button>
    </div>
  }
</mat-card>
