<span class="connector-label" aria-hidden="true">AND</span>
<div class="wrapper">
  @let attributeData = attribute();
  <div class="fields-wrapper">
    <app-property-selector
      [attribute]="attributeData"
      [availableAttributes]="availableAttributes()"
      (propertyChange)="propertyChange.emit($event)"
    ></app-property-selector>

    @if (attributeData.property) {
      <ng-container class="attribute-body">
        <app-operator-selector
          [attribute]="attributeData"
          [operatorOptions]="operatorOptions()"
          (operatorChange)="operatorChange.emit($event)"
        ></app-operator-selector>

        <app-value-input
          [attribute]="attributeData"
          [valueRequirement]="valueRequirement()"
          [inputType]="inputType()"
          (valueChange)="valueChange.emit($event)"
        ></app-value-input>
      </ng-container>
    }
  </div>

  <div class="actions-wrapper">
    <button
      mat-icon-button
      type="button"
      class="remove-attribute"
      aria-label="Remove attribute"
      (click)="remove.emit()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
