@use 'functions' as *;

mat-form-field {
  margin-right: to-rem(15);
}

.actions-wrapper {
  opacity: 0;
}

.wrapper {
  display: flex;
  &:hover,
  &:focus-within {
    .actions-wrapper {
      opacity: 1;
    }
  }
}

.range-fields {
  display: inline;

  mat-form-field {
    width: 180px;
  }
}
