@use 'functions' as *;

.step-item {
  padding-bottom: to-rem(20);

  .step-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    .step-title {
      display: flex;
      align-items: baseline;
      gap: 0.5rem;
      font-size: 1rem;
    }

    .step-index {
      color: #666a89;
      font-weight: 500;
    }
  }
}

.event {
  margin-right: to-rem(15);
}
