@use 'functions' as *;

.step-actions {
  opacity: 0;
}

.step-item {
  padding-bottom: to-rem(20);

  &:hover,
  &:focus-within {
    .step-actions {
      opacity: 1;
    }
  }

  .step-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: to-rem(8);

    .step-title {
      display: flex;
      align-items: baseline;
      gap: to-rem(8);
      font-size: to-rem(16);
    }

    .step-index {
      color: #666a89;
      font-weight: 500;
    }
  }
}

.event {
  margin-right: to-rem(25);
}

.field-wrapper {
  display: flex;
  align-items: start;
}

mat-divider {
  margin-top: to-rem(10);
}
